.send{
  height: 40px;
  border-radius: 4px;
  color: white;

  &:hover {
    background: #9d8f8f;
    color: white;
  }

  &[disabled] {
    color: white;
    cursor: not-allowed;

    &:hover {
      color: white;
    }
  }
  @media (max-width: 1000px) {
    width: 100%
  }
}

.form-group {
}

.message-sent {
  margin-top: 20%;
  height: 258px;
}
