.send{
  height: 40px;
  border-radius: 4px;
  &[disabled] {
    background-color: #202224;
    color: #9d8f8f;
    cursor: not-allowed;

    &:hover {
      color: #9d8f8f;
    }
  }
  &:hover {
    background: #9d8f8f;
    color: white;
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
}

.message-sent {
  margin-top: 20%;
  height: 258px;
}
