<!--<nav id="navbar" class="navbar">-->
<!--  <ul class="nav-menu">-->
<!--    <li *ngFor="let block of blocks$ | async">-->
<!--      <a *ngIf="block.tag" [attr.data-scroll]="block.tag" [href]="'#' + block.tag" class="dot">-->
<!--        <span *ngIf="block.show">{{block.tagName}}</span>-->
<!--        <span class="dot"></span>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
<!-- End Nav Section -->

<!-- Start Home Section -->
<section [animateAfterAppear]="'fadeInDown'" id="home" class="hero-wrap js-fullheight" style="background-image: url(assets/img/img.webp);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-lg-7 d-flex align-items-center">
        <div class="text text-center">
          <h1 class="logo"></h1>
          <h1 class="mb-4">{{ 'text1' | translate: 'header' }}</h1>
          <p style="text-transform: uppercase;" class="mb-4">{{ 'text2' | translate: 'header' }}</p>
          <p class="mt-5"><a href="#contactMe"  class="btn-custom">{{ 'text3' | translate: 'header' }}</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Home Section -->

<!-- Start About Me Section -->
<section *ngIf="{
  bigBlock: bigBlock$ | async
} as async" class="ftco-about img ftco-section" id="about">

  <div class="container" *ngIf="async.bigBlock as bigBlock" [animateAfterAppear]="'fadeInDown'">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 ">
        <app-gallery [height]="'780px'" [items]="bigBlock.child1" [type]="'img'" [maxPhoto]="bigBlock.maxPhoto || 3">
        </app-gallery>

      </div>
      <div class="col-md-6 col-lg-6 pl-md-5">
        <div class="heading-section">
          <h2 class="mb-4">{{ 'text1' | translate: async.bigBlock.id}}</h2>
          <p>
            {{ 'text2' | translate: async.bigBlock.id}}
          </p>

          <div class="counter-wrap d-flex my-md-4">
            <div class="text">
              <p class="mb-4">
                <span>{{ 'text5' | translate: async.bigBlock.id}}</span>
              </p>
            </div>
          </div>
          <div class="d-flex w-100">
            <div class="img img-about-2 mr-2">
              <app-gallery height="250px" [items]="bigBlock.child2" [type]="'img'" >
              </app-gallery>
            </div>
          </div>
          <blockquote class="blockquote mt-5">
            <p class="mb-2">"{{ 'text3' | translate: async.bigBlock.id}}"</p>
            <span>{{ 'text4' | translate: async.bigBlock.id}}</span>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Me Section -->

<!-- Start Services Section -->
<!--<section id="services" class="ftco-section">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-9">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5 heading-section pb-5">-->
<!--            <h2 class="mb-4">Photography Services</h2>-->
<!--            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-4">-->
<!--            <div class="media block-6 services d-block">-->
<!--              <div class="icon"><span class="flaticon-video-camera"></span></div>-->
<!--              <div class="media-body">-->
<!--                <h3 class="heading mb-3">Movies &amp; Advertising Videos</h3>-->
<!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--            <div class="media block-6 services d-block">-->
<!--              <div class="icon"><span class="flaticon-video-player"></span></div>-->
<!--              <div class="media-body">-->
<!--                <h3 class="heading mb-3">Clip &amp; Music Videos</h3>-->
<!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--            <div class="media block-6 services d-block">-->
<!--              <div class="icon"><span class="flaticon-video-player-1"></span></div>-->
<!--              <div class="media-body">-->
<!--                <h3 class="heading mb-3">Short Film Productions</h3>-->
<!--                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences.</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 d-flex align-items-stretch">-->
<!--        <div class="img w-100" style="background-image: url(assets/img/about.jpg);"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<section class="ftco-section contact-section blocks-lighten">
  <div class="container">
    <ng-container *ngIf="{ blocks: blocks$ | async  } as async">
      <div *ngFor="let block of async.blocks" [animateAfterAppear]="'fadeInDown'">


        <app-gallery-image *ngIf="block.type === 'images'" [items]="block.child"  ></app-gallery-image>

        <app-gallery *ngIf="block.type === 'imageGallery'" [items]="block.child" [type]="'img'" [maxPhoto]="block.maxPhoto || 3">
        </app-gallery>

        <app-gallery *ngIf="block.type === 'gallery'" [items]="block.child">
        </app-gallery>

        <app-mid-block *ngIf="block.type === 'midBlock'"
                       [attr.id]="block.tag"
                       [id]="block.id"
                       [darken]="false"
        >

        </app-mid-block>

        <app-message-block *ngIf="block.type === 'message'"
                           [attr.id]="block.tag"

                           [id]="block.id"></app-message-block>

        <ng-container *ngIf="block.type === 'smallBlocks'" >
          <div class="row mb-5" [attr.id]="block.tag" >
            <div class="col-md d-flex" *ngFor="let child of block.child" [id]="child.id">
              <div class="align-self-stretch box text-center p-4">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-globe"></span>
                </div>
                <div>
                  <app-small-block [id]="child.id"></app-small-block>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

      </div>
    </ng-container>
  </div>
</section>

<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
