:host {
  margin-bottom: 3rem;
  padding-bottom: 1rem ;
  display: block;
  cursor: grab;

}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 1000px;

  &.single-photo {
    height: 400px;
    @media (min-width: 1000px) {
      height: 700px;
    }
    @media (min-width: 1400px) {
      height: 900px;
    }
  }

  @media (max-width: 400px) {
    width: 100%;
    height: 500px;
  }

  @media (min-width: 1060px) {
    width: 370px;
    height: 500px;
  }
}
