<div class="item">
  <div class="testimony-wrap p-4 pb-5">
    <div class="user-img mb-4" style="background-image: url({{'img' | translate:id}})">
    <span class="quote d-flex align-items-center justify-content-center">
      <i class="icon-quote-left"></i>
    </span>
    </div>
    <div class="text">
      <p class="mb-5 pl-4 line">{{'text1' | translate:id}}</p>
      <div class="pl-5">
        <p class="name">{{'text2' | translate:id}}</p>
        <span class="position">{{'text3' | translate:id}}</span>
      </div>
    </div>
  </div>
</div>
